<td>
  <%= link_to user.email, user %>
</td>

<td>
  <%= simple_form_for(user) do |f| %>
    <% if user.role != "user" %>
      <%= f.select :role, User.roles.keys.map {|role| [role.titleize,role]}, {}, { class: 'form-control' } %>
      <td>
        <%= f.submit 'Change Role', class: 'btn btn-primary' %>
      </td>
    <% else %>
      <%= f.input :course_id, collection: @courses, label: false, value_method: :id, include_blank: false, selected: user.course_id %>
      <td>
        <%= f.submit 'Change Class', class: 'btn btn-primary' %>
      </td>
    <% end %>
  <% end %>
</td>

<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button') unless user == current_user %>
</td>
